.configuration-option{
    display: block;
    width: 100vw;
    height: 10vh;
    text-align: center;
    font-size: 4vh;
    color: #000;
    border-bottom: 1px solid #9996;
    p{
        margin-top: 3vh;
    } 
}