.configuration-option{
    display: block;
    width: 100vw;
    height: 10vh;
    text-align: center;
    font-size: 1.7em;
    font-weight: 900;
    color: #000;
    border-bottom: 1px solid #9996;
    text-transform: uppercase;
    p{
        margin-top: 3vh;
    } 
}