@import './../../../variables.scss';
.visit-container{
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    background-color: #ffffff;
    border-top-left-radius: 5% 40%;
    border-bottom-left-radius: 5% 40%;
    border-top-right-radius: 5% 40%;
    border-bottom-right-radius: 5% 40%;
    box-shadow: 0 3px 6px 0 #ccc;
    padding: 5px;
    padding-left: 4vw;
    padding-right: 4vw;
    font-weight: 600;
    margin-bottom: 2vh;
}
.visit-select{
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    background-color: $principal;
    color: #ffffff;
    border-top-left-radius: 5% 40%;
    border-bottom-left-radius: 5% 40%;
    border-top-right-radius: 5% 40%;
    border-bottom-right-radius: 5% 40%;
    box-shadow: 0 3px 6px 0 #ccc;
    padding: 5px;
    padding-left: 4vw;
    padding-right: 4vw;
    font-weight: 600;
    margin-bottom: 2vh;
}

.visit-container-gral{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    img {
        width: 9vw;
        height: 7vw;
    }
}
.circle-item{
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    background-color: $detail;
}
.visit{
    width: 88vw;
}
.info-circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        margin-bottom: 0;
        font-size: 1.2em;
    }
}
.footer-info{
    width: 100vw;
    height: 10vh;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #ccc;
}
.visit-container-order{
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    background-color: #ffffff;
    border-top-left-radius: 5% 40%;
    border-bottom-left-radius: 5% 40%;
    border-top-right-radius: 5% 40%;
    border-bottom-right-radius: 5% 40%;
    box-shadow: 0 3px 6px 0 #ccc;
    padding: 5px;
    font-weight: 600;
    margin-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
}
.btn-circle{
    border-radius: 50%;
    color: #ffffff;
    background-color: $principal;
    border: none;
    width: 11vw;
    font-size: 2em;
    font-weight: 900;
}

.btn-save{
    background-color: #4009fb;
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    font-weight: 600;
    height: 6vh;
    letter-spacing: 1px;
}
.buttons-acctions{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
    margin-bottom: 4vh;
    .img-one-btn{
        width: 11vw;
    }
    .img-two-btn{
        width: 11vw;
        transform: rotate(180deg);
    }
}
.btn-save:focus{
    outline: 0px;
}
.btn-circle:focus{
    outline: 0px;
}
.buttons-not{
    display: none;
}